<div class="container">
  <fieldset id="ingredients">
    <label class="ingredients-label">{{ingredientsLabel}}</label>
    {{#unless isEdit}}
      {{ingredient-list-summary ingredients=ingredients}}
    {{else}}
      {{ingredient-list-edit ingredients=ingredients allIngredientOptions=allIngredientOptions}}
    {{/unless}}
    <!-- needs a better way to check if there should be a way to switch between modes, but can't do this till we figure out show and edit flows -->
    {{#unless isEditDefault}}
      <div class="edit-ingredients-button">
        <button {{action 'toggleEdit'}}>{{if isEdit "save" "edit"}}</button>
      </div>
    {{/unless}}
  </fieldset>
</div>
