<p>stuff</p>
<div id="ingredient-list" class="clearfix {{summaryOrEdit}}">
  {{#each ingredients as | ingredient index |}}
    <div class="ingredient-item" data-ingredient-id={{ingredient.id}}>
      {{ingredient.name}}{{list-commas index ingredients.length}}
    </div>
  {{/each}}
</div>
<br>
<button id="edit-ingredients" {{action 'toggleEdit'}}>edit</button>
