<div class="container">
  <fieldset id="ingredients" class="clearfix {{summaryoredit}}">
    <label class="ingredients-label">{{ingredientsLabel}}</label>
    <ul class="ingredient-list">
      {{#each ingredients as | ingredient index |}}
        <li class="ingredient-item">
          {{ingredient.name}}{{list-commas index ingredients.length}}
        </li>
      {{/each}}
    </ul>
    <button id="edit-ingredients" {{action 'toggleedit'}}>edit</button>
  </fieldset>
</div>
