<div class="container">
  <fieldset id="ingredients">
    <label class="ingredients-label">{{ingredientsLabel}}</label>
    {{#unless isEdit}}
      {{ingredient-list-summary ingredients=ingredients}}
    {{else}}
      {{ingredient-list-edit ingredients=ingredients allIngredientOptions=allIngredientOptions}}
    {{/unless}}
    {{#unless isNew}}
      <div class="edit-ingredients-button">
        <button {{action 'toggleEdit'}}>{{if isEdit "save" "edit"}}</button>
      </div>
    {{/unless}}
  </fieldset>
</div>
