<div class="container">
  <fieldset class="searchable-tag-list">
    <label class="label">{{labelText}}</label>
    {{#unless isEdit}}
      {{searchable-tag-list-summary selectedOptions=selectedOptions}}
    {{else}}
      {{searchable-tag-list-edit selectedOptions=selectedOptions allOptions=allOptions listItemModel=listItemModel}}
    {{/unless}}
    <!-- needs a better way to check if there should be a way to switch between modes, but can't do this till we figure out show and edit flows -->
    {{#unless isEditDefault}}
      <div class="edit-button">
        <button {{action 'toggleEdit'}}>{{if isEdit "save" "edit"}}</button>
      </div>
    {{/unless}}
  </fieldset>
</div>
