<h1>This is soda-form.hbs template to render soda-form component</h1>
<form class="soda-new" {{action 'saveSoda' soda on='submit'}}>
  <div class="soda-name">
    <fieldset class="name">
      <label>Name:</label>
      {{input value=soda.name}}
    </fieldset>
  </div>
  <div class="soda-brand">
    <fieldset class="brand">
      <label>Brand:</label>
      {{input value=soda.brand}}
    </fieldset>
  </div>
  <div class="soda-parent-company">
    <fieldset class="parent-company">
      <label>Parent company:</label>
      {{input value=soda.parentCompany}}
    </fieldset>
  </div>
  <div class="soda-country">
    <fieldset class="country">
      <label class="country-label">Country:</label>
      <div class="country-select">
        {{#power-select selected=soda.country options=countries onchange=(action "setCountry") as |country|}}
          {{country.name}}
        {{/power-select}}
      </div>
    </fieldset>
  </div>
  <!-- isNew is hardcoding this form to display properly for new sodas, if we decide to reuse these components for new and show, we should set this in a controller somewhere later on-->
  {{ingredient-list allIngredientOptions=allIngredientOptions isNew=true}}
  <div class="soda-origin-data">
    <fieldset class="origin-data">
      <label>Additional info on soda origin:</label>
      {{input value=soda.originData}}
    </fieldset>
  </div>
   <div class="soda-diet">
    <fieldset class="diet">
      <label>Diet:</label>
      <input type="checkbox" checked={{checked}} value={{value}} onchange={{action 'setDiet' value='target.checked'}}/>
    </fieldset>
  </div>
  <div class="soda-caffeinated">
    <fieldset class="caffeinated">
      <label>Caffeinated:</label>
      <input type="checkbox" checked={{checked}} value={{value}} onchange={{action 'setCaffeinated' value='target.checked'}}/>
    </fieldset>
  </div>
  <div class="submit-button">
    <button type="submit" disabled={{soda.isNotValid}}>Save</button>
  </div>
</form>
