<div>
  <div class="wine-name">
    {{model.name}}
  </div> <!-- /wine-name -->
  <div class="wine-image">
    {{responsive-image image=model.photo}}
  </div>
  <div>
    Type: {{model.wineType.name}}
  </div>
  <div>
    {{#if model.producer}}
      Producer: {{model.producer}}
    {{/if}}
  </div>
  <div>
    Country: {{model.country.name}}
  </div>
  <div>
    {{#if model.state}}
      State: {{model.state.name}}
    {{/if}}
  </div>
  <div>
    {{#if model.wineRegion}}
      Wine Region: {{model.wineRegion.name}}
    {{/if}}
  </div>
  <div>
    {{#if model.appellation}}
      Appellation: {{model.appellation.name}}
    {{/if}}
  </div>

</div>
